@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: 'Euclid Circular B';
     src: url('/fonts/euclid-circular-b/EuclidCircularB-Regular.woff2') format('woff2');
     font-weight: 200;
     font-style: normal;
     font-display: swap;
   }

   @font-face {
     font-family: 'Euclid Circular B';
     src: url('/fonts/euclid-circular-b/EuclidCircularB-SemiBold.woff2') format('woff2');
     font-weight: 600;
     font-style: normal;
     font-display: swap;
   }

   @font-face {
     font-family: 'Euclid Circular B';
     src: url('/fonts/euclid-circular-b/EuclidCircularB-Bold.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
     font-display: swap;
   }
:root {
  font-family: "Euclid Circular B", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* h1,h2,h3,h4,h5,h6{
  font-family: ;
} */
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
        
        @keyframes scaleIn {
          from {
            opacity: 0;
            transform: scale(0.95) translateY(10px);
          }
          to {
            opacity: 1;
            transform: scale(1) translateY(0);
          }
        }
        
        .animate-fadeIn {
          animation: fadeIn 0.2s ease-out;
        }
        
        .animate-scaleIn {
          animation: scaleIn 0.3s ease-out;
        }
          @keyframes slideDown {
          from {
            opacity: 0;
            transform: translateY(-10px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        
        .animate-slideDown {
          animation: slideDown 0.2s ease-out;
        }